/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
	background-color: #730506;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 3.4em;
	letter-spacing: 2.5em;
	text-align: center;
	font-style: oblique;
	font-weight: bold;
	line-height: 2.5;
	text-shadow: 14px 10px 23px #cfcaca;
	border: 14px;
	rotate:90deg;
	 
	
}

 #one { 
top: 20px;
left:8px; 
font-size: 28px;
rotate:90;

 }

 #two {
position:inherit;
offset-position: 23px;
rotate: 19deg;
 }
	
 #three {
position:initial;
rotate:42deg;

 }

 #four {
position:sticky;
rotate:81deg;
 }

 #five {
position:static;

 }

 #six {
position:relative;


 }

 #seven {
font-size: 10px;
color: #211616;
position: absolute;
 }

 #eight {
position:static;
 }
